*{
    padding: 0px;
    margin:0px;
}
.nav{
    background: #6699FF;
}

.header{
       background:#6699FF;
    }
.menu a{
    text-decoration: none;
    color:white;
}
.menu>li>select>option{
    list-style-type: none;
    float: left;
    
}
.menu>li{
    list-style-type: none;
    float: left;
    margin-right: 35px;
}
.menu li a{
    padding:60px;
    line-height: 100px;
        
}
.menus li{
        position: relative;
    }
.menu li select{
    margin-top:25px;
    height: 50px;
    background:#6699FF;
    border:1px solid white;
    color: white;
    border-radius:5px;
    margin-left:40px;
    width:160px;

}
 option a{
  width: 160px;
  height: 50px;
}    

/*===hết NAV==>*/

.max{
    margin-top: 15px;
}
.body{
    background:#EEEEEE;
}
.border{
    
    background: white;
}
.hotline{
    
    background: white;
}
.company-album img{
    padding: 5px;
}
.company-images img{
  padding-top: 5px;
}
.font .container{
    background: white;
}
.nav-footer{
   
    height:150px;
    background: white;
}
.footer{
    background:#477ba3;
    height: auto;
    padding-top: 30px;

}
.function a{
    color: white;
    text-decoration: none;
}
.function{
    color:white;
}
.company_fon{
    background: white;
}
.sidebar{
    background: white;
}
.hand_2{
    margin-left: 200px;
    margin-top:-106px;
}
.carousel-inner img{
        opacity: 0.8;
    filter: alpha(opacity=50);
}
hr{
  border:1px solid black;
  opacity: 0.5;
}
.carousel-caption{
  margin-top: -200px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  margin-bottom: 20px;
}



/*.carousel-caption {
  z-index: 10;
}*/

.carousel .item {
  height: 450px;
  background-color:#bbb;
  overflow:hidden;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#searchForm {
    position:absolute;
    top:60%;
    left: 30px;
    
}
#searchForm input{
    height: 40px;
}
#searchForm select{
    height: 40px;
}
#searchForm button{
    height: 40px;
    width:auto;
}
.describe{
  padding: 3px;
}


/* RESPONSIVE CSS
------------------------------------------------- */
@media (max-width: 768px) {

  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-width:inherit;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}




/*====adminv===================================================*/


.brand{
  border: 1px solid black;
  float: left;
  width: 280px;
  height: 800px;
  /*background: #6699FF;*/
}

.name-admin{
  float: right;
  margin-right:58px;
  position: relative;
  bottom: 30px;
  font-weight: bold;
  font-size:18px;

}
.menu-case {
  width: 200px;
} 
 
.menu-case li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 260px;
  padding-top: 24px;
  font-size: 16px;
  margin-left: 20px;
  color: blue;
  font-weight: bold;
}

.menu-case a:hover {
  font-size:19px;
  transition:0.2s;
  border-radius: 10px;
  color: #337ab7;
}
.dropdown-menu>li>a{
  font-size: 15px;
}
/*---------------nút search cho admin---------=========================*/
.menu-case input#search{
  width: 270px;
  height: 40px;
  background: #FFFFCC;
  border: none;
  margin-left: 5px;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.icon{
  position: absolute;
  top:13.1%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: black;
}




/*===========phân các trang trong mục admin=============================*/
.comment{
  float: right;
/*display: block;*/
  margin-right:10px;

}
/*==================phần chi tiết trong các phần admin sửa===================*/
.card-body th{
  width: 80px;
}
.card-body td{
  width: 80px; 
  font-size: 13.2px;

}
.card-body{
  margin-top: 10px;
  margin-right:20px;
}
.card-body1 td{
  width: 200px;
  font-size: 14px;
}
.card-body1{
  width: 640px;
}
/*================================phần edit=====================*/
.card-body2{
  width: 500px;
  margin-top: 20px;
}
/*==================Phần editarticles==================================*/
.card-body3{
  width: 1050px;
  margin-top: 20px;
}
/*=======================phần displayarticles=========================*/
.card-body4{
  
  margin-top: 20px;
}
.card-body4 td {
  width: 980px;
}
/*=================phần postuser=============*/
.card-body5{
    width: 1050px;
}



/*================test lên tôp========================================*/
.lentop {display:none; bottom: 40%; right: 10px; cursor: pointer;  position: fixed; z-index: 1000;}
.lentop div {background:black; border:2px solid #DDDDDD; border-radius:45px; padding:11px 12.5px; box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3)}
.lentop img {width:16px; height:16px;}
.carousel-inner img{
        opacity: 0.8;
    filter: alpha(opacity=50);
}




/*===============từ tin.css sang style.css==============================*/
*{
    padding: 0px;
    margin:0px;
}



.detail{
    background-color: white;
    height: auto;
    
}
.jobnew{
    background-color: white;
    height: auto;
    margin-top: -10px;
    
}
.name-job{
    float:right;
    position: relative;
    right: 240px;
}


.click{
    
    margin-right: 20px;
}
.btn.btn-grey-bor{
    background-color: #fafafa;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e0e0e0;
    padding: 0px 13px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
    color: #757575;
}
.pass{
    
    margin-top: 37px;
}
.min{
        
    background-color: white;
}
/**/
.main{
    background-color: white;
}
.tab{
    margin-left:20px;
}



.dot{
    background-color: white;

}
.navbar{
    background-color: white;
    
}
.conspan>ul{
    list-style-type: none;

}
.conspan ul li a{
    float: left;
    padding-left:50px;
}
.conspan a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 15px;
    font-size: 15px;
}
.conspan>i{
    float: right;
    margin-right:20px;
}


/* PHÂN TRANG */
.button{
    height: 260px;
    width: 470px;
    border: 1px solid black;
}
.circle{
    height: 45%;
  width:31%;
  background-color: #1790d4;
  border-radius: 50%;
  display: inline-block;
}
.circle i{
    font-size:63px;
    margin-left:46px;
    margin-top:19px;
    color:white; 
}
.text{
    float: right;
    margin-right: 9px;
}
.text a{
    text-decoration: none;
    color:#1790d4;
    font-size: 20px;
}
.text i{
    color: green;
}
.put{
    margin-top: 35px;
    margin-left:193px; 
}
/*================================================SỬa trang login================*/
.login{
  /*margin-left: 180px;*/
  /*background: white;
  width: 450px;
  border-radius: 4px;
  height: 250px;*/
}
.login{
  margin: auto;
  width: 440px;
  background: white;  
}
.tb_thanhvien tr td{
  padding:25px 0px 0px 10px;
}
#txt_dn{
  width: 300px;
}
/*=================trang cá nhân==============*/
.form-case{
  padding: 0px;
  margin: 0px;
  width: auto;
  /*display: block;*/
}
.user-left-information{
  /*float: left;*/
  border: 1px solid black;
  height:10000px;
  width: 250px;
  position: fixed;  
}
.header-left img{
  margin-left:40px;
  margin-top: -10px;
}
.image-user img{
  margin-left: 50px;
}
.user-right-information{ 
  width:1119px;
  height:500px;

}
.user-right-information li{
  list-style-type: none;
}
.user-right-information a{
  text-decoration: none; 
}

/*=============trang doanh nghiệp========*/
.enterprise-left-information{
  float: left;
  border: 1px solid black;
  height: 500px;
  width: 240px;
  background: #3399FF;
}

.enterprise-left-information a{
  text-decoration: none;
}
.enterprise-left-information li{
  list-style-type: none;
}
.enterprise-right-information{
  float: right;
  border:1px solid black;
  margin-right:100px;  
  width:1000px;
  height: 500px;
}
.enterprise-right-information a{
  text-decoration:none;
}
.enterprise-right-information li{
  list-style-type: none;
}
/*======================test thudas dâf*/
.open a{
  display: block;
  padding:15px 0px 13px 27px;
  font-size: 17px;
}


.list i{
  margin-top:10px;
}   
.list ul{
  display: none;
}
.list li:hover ul{
  display: block;
}
.list a:hover {
  background: #ccc;
}
/*icon*/
.list .sub-icon:after{
  content:'\203A';
  float: right;
  font-size: 23px;
  font-weight: bold;
  margin-right:20px;
  margin-top:-41px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);

}
.list  li:hover .sub-icon:after{
  content:'\2039';
}
/*bos*/
.box-menu{
  width: 1200px;
}
.box-menu ul{
    background: #1F568B;
    list-style-type: none;
    
}
.box-menu li{
    color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
.box-menu a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.box-menu a:hover{
   background: #F1F1F1;
  color: #333;
}

/* thêm user profile*/

.form-case{
  padding: 0px;
  margin: 0px;
  width: auto;
  display: flex;
  /*display: block;*/
}
.user-left-information{
  /*float: left;*/
  border: 1px solid #436EEE;
  height:10000px;
  width: 250px;
  position: fixed;
  background: #436EEE;  
}
.header-left img{
  margin-left:40px;
  margin-top: -10px;
  
}
.image-user img{
  margin-left: 50px;
}
.user-left-information a{
  text-decoration: none;
}
.user-right-information{ 
  width:1119px;
  height:890px;
/* border: 1px solid #ccc;*/
 float: left;
}
.user-right-information li{
  list-style-type: none;
}
.user-right-information a{
  text-decoration: none; 
}
/*======================test thudas dâf*/
.open a{
  display: block;
  padding:15px 0px 13px 27px;
  font-size: 15px;
  color: #FFFFCC;
}

ul.list{
  list-style-type: none;
}
.list i{
  margin-top:10px;
}   
.list ul{
  display: none;
}
.list li:hover ul{
  display: block;
}
.list a:hover {
  background: ;
}
.list .sub-icon:after{
  content:'\203A';
  float: right;
  font-size: 23px;
  font-weight: bold;
  margin-right:20px;
  margin-top:-41px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  color: white;
}
.list  li:hover .sub-icon:after{
  content:'\2039';
  color:white;
}
/*bos*/
.box-menu{
  margin-left: 250px;
  margin-top: -1px;
  width: 12 00px;
}
.box-menu ul{
    background: #1F568B;
    list-style-type: none;
}
.box-menu li{
    color: #f1f1f1;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.box-menu a{
    text-decoration: none;
    color:#e6e6e6;
}
.box-menu a:hover{
  color:#FFFFFF ;
}
.job-saves h4{margin-left:20px;}.job-new h4{margin-left: 20px;}
.job-saves table{margin-left:20px;width: 95%;}.job-new table{margin-left:20px;width: 93%;}

